# ====== Python cache ======
__pycache__/
*.py[cod]
*.pyo

# ====== Virtual environments ======
venv/
env/
.venv/

# ====== Model files (jangan upload ke GitHub) ======
*.joblib
lda_model.pkl
tfidf_vectorizer.pkl
# ====== Data files (opsional, besar) ======
*.csv
*.xlsx
*.zip
*.h5

# ====== Jupyter checkpoints ======
.ipynb_checkpoints/

# ====== System files ======
.DS_Store
Thumbs.db
